In [1]:
import pandas as pd
import numpy as np
import os
import csv
from unidecode import unidecode

In [2]:
print(os.getcwd())

C:\Users\LACINE BERTHE\Desktop\2022-2023\Pole_emploi\Formation\Data_Scientest\Projet\Satisfaction_client

In [3]:
df=pd.read_csv('C:/Users/LACINE BERTHE/Desktop/2022-2023/Pole_emploi/Formation/Data_Scientest/Projet/Satisfaction_client/infos_company2.csv')
df.head()

,Unnamed: 0,Name_company,Note trust pilot,Nombre avis,Localisation company,Domaine d activité,nombre d'avis excellent
0,0,Immoprêt,"4,9",5 265,"Lille, France",Banque,82 %
1,1,Younited Credit,"4,8",60 845,"Paris, France",Agence de crédit·Banque,81 %
2,2,CIB Formation,"4,8",498,"SAINT ETIENNE, France",Banque,79 %
3,3,Cofidis,"4,7",17 699,"Villeneuve d'Ascq Cedex, France",Banque,86 %
4,4,Pixpay,"4,7",3 065,NaN,Banque,85 %

In [4]:
df=df.drop(df.columns[0], axis=1)
df.head()

,Name_company,Note trust pilot,Nombre avis,Localisation company,Domaine d activité,nombre d'avis excellent
0,Immoprêt,"4,9",5 265,"Lille, France",Banque,82 %
1,Younited Credit,"4,8",60 845,"Paris, France",Agence de crédit·Banque,81 %
2,CIB Formation,"4,8",498,"SAINT ETIENNE, France",Banque,79 %
3,Cofidis,"4,7",17 699,"Villeneuve d'Ascq Cedex, France",Banque,86 %
4,Pixpay,"4,7",3 065,NaN,Banque,85 %

In [5]:
df.columns

Index(['Name_company', 'Note trust pilot', 'Nombre avis',
       'Localisation company', 'Domaine d activité',
       'nombre d'avis excellent'],
      dtype='object')

In [11]:
df.to_csv('informat_company.csv',index=False)

In [12]:
# ouvrir le fichier CSV original et créer un nouveau fichier pour écrire les données modifiées
with open('informat_company.csv', 'r', encoding='utf-8') as fichier_original, \
     open('info_company_sans_accents3.csv', 'w', encoding='utf-8', newline='') as fichier_modifie:
     
    # créer un objet writer pour écrire les données modifiées
    writer = csv.writer(fichier_modifie, delimiter=',')

    # parcourir chaque ligne du fichier original, supprimer les accents et écrire les données modifiées dans le nouveau fichier
    reader = csv.reader(fichier_original)
    for ligne in reader:
        nouvelle_ligne = [unidecode(cellule) for cellule in ligne]
        writer.writerow(nouvelle_ligne)

In [13]:
data=pd.read_csv('C:/Users/LACINE BERTHE/Desktop/2022-2023/Pole_emploi/Formation/Data_Scientest/Projet/Satisfaction_client/info_company_sans_accents3.csv')
data.head()

,Name_company,Note trust pilot,Nombre avis,Localisation company,Domaine d activite,nombre d'avis excellent
0,Immopret,"4,9",5 265,"Lille, France",Banque,82 %
1,Younited Credit,"4,8",60 845,"Paris, France",Agence de credit*Banque,81 %
2,CIB Formation,"4,8",498,"SAINT ETIENNE, France",Banque,79 %
3,Cofidis,"4,7",17 699,"Villeneuve d'Ascq Cedex, France",Banque,86 %
4,Pixpay,"4,7",3 065,NaN,Banque,85 %

In [14]:
data.shape

(360, 6)

In [15]:
data.insert(0, 'id', range(360))

In [16]:
data.head(20)

,id,Name_company,Note trust pilot,Nombre avis,Localisation company,Domaine d activite,nombre d'avis excellent
0,0,Immopret,"4,9",5 265,"Lille, France",Banque,82 %
1,1,Younited Credit,"4,8",60 845,"Paris, France",Agence de credit*Banque,81 %
2,2,CIB Formation,"4,8",498,"SAINT ETIENNE, France",Banque,79 %
3,3,Cofidis,"4,7",17 699,"Villeneuve d'Ascq Cedex, France",Banque,86 %
4,4,Pixpay,"4,7",3 065,NaN,Banque,85 %
5,5,Anytime,"4,5",5 820,NaN,Banque,73 %
6,6,Shine,"4,5",2 013,"Paris, France",Banque*Banque du secteur prive*Institution fin...,78 %
7,7,Orange Bank,"4,4",12 670,"Montreuil, France",Banque*Banque du secteur prive,62 %
8,8,Helios.do,"4,3",394,NaN,Banque,70 %
9,9,Paykrom,"4,2",71,"Puteaux, France",Institution financiere*Banque,74 %
10,10,Boursorama Banque,"4,1",4 634,"Boulogne-Billancourt, France",Service de transfert d'argent*Banque*Instituti...,68 %
11,11,Monabanq,"4,1",3 811,"Villeneuve-d'Ascq, France",Banque,62 %
12,12,ONLYONE,"4,4",23,"PARIS, France",Banque,83 %
13,13,Plusq1taux Landes Pays Basque,"4,4",12,"Anglet, France",Service de conseil en credit*Courtier d'assura...,100 %
14,14,la Nef,"4,3",67,"Vaulx en Velin, France",Banque*Banque d'epargne,75 %
15,15,MoneyNow,"4,3",8,NaN,Banque*Site de comparaison de prix,100 %
16,16,Floabank,"4,2",6 089,NaN,Etablissement de credit*Banque,48 %
17,17,Ma French Bank,"4,2",2 347,NaN,Banque,62 %
18,18,Blank,"4,0",194,"Paris, France",Banque,66 %
19,19,Cosabnk,"4,0",9,NaN,Banque,78 %

In [17]:
data['Note trust pilot'] = data['Note trust pilot'].str.strip('"')
data['Note trust pilot'] = data['Note trust pilot'].replace(',', '.', regex=True)
data['Nombre avis'] = data['Nombre avis'].str.replace(' ', '')

In [18]:
data.dtypes

id                          int64
Name_company               object
Note trust pilot           object
Nombre avis                object
Localisation company       object
Domaine d activite         object
nombre d'avis excellent    object
dtype: object

In [19]:
data['Nombre avis']

0       5265
1      60845
2        498
3      17699
4       3065
       ...
355        3
356        2
357      NaN
358      NaN
359      NaN
Name: Nombre avis, Length: 360, dtype: object

In [23]:
data.head()

,id,Name_company,Note trust pilot,Nombre avis,Localisation company,Domaine d activite,nombre d'avis excellent
0,0,Immopret,4.9,5265,"Lille, France",Banque,82 %
1,1,Younited Credit,4.8,60845,"Paris, France",Agence de credit*Banque,81 %
2,2,CIB Formation,4.8,498,"SAINT ETIENNE, France",Banque,79 %
3,3,Cofidis,4.7,17699,"Villeneuve d'Ascq Cedex, France",Banque,86 %
4,4,Pixpay,4.7,3065,NaN,Banque,85 %

In [27]:
data.isna().sum()

id                           0
Name_company                 0
Note trust pilot            40
Nombre avis                 40
Localisation company       118
Domaine d activite          38
nombre d'avis excellent     38
dtype: int64

In [28]:
'''data = data.astype({"Name_company": str, 
                    "Note trust pilot": float, 
                    "Nombre avis": int, 
                    "Localisation company": str, 
                    "Domaine d activite": str, 
                    "nombre d'avis excellent": str})
data.dtypes'''

'data = data.astype({"Name_company": str, \n                    "Note trust pilot": float, \n                    "Nombre avis": int, \n                    "Localisation company": str, \n                    "Domaine d activite": str, \n                    "nombre d\'avis excellent": str})\ndata.dtypes'

In [29]:
data.to_csv('infoss_company.csv',index=False)